<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>かんばん</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <h2>かんばんボード</h2>
  <p>このボードは、テクコン部新人3名によるVue.jsの演習成果物である。</p>

  <div id="app">
    <!-- 絞り込みラジオボタン -->
    <!-- ToDo テーブル -->
    <table class="kanban">
      <tr>
        <td>
          <table class="todo">
            <thead>
              <tr>
               <th>ToDo</th>
             </tr>
           </thead>
           <tbody>
              <tr v-for="item in todos" v-if="item.status=='1'">
                <td @click="openModalDetails(item)">{{ item.name }}</td>
             </tr>
           </tbody>
           <tfoot>
             <tr>
               <td>
            <button v-on:click="openModal">✙</button>
               </td>
            </tr>
            </tfoot>
          </table>
        </td>

        <td>
          <table class="doing">
            <thead>
              <tr>
                <th>Doing</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in todos" v-if="item.status=='2'">
                <td @click="openModalDetails(item)">{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </td>

        <td>
          <table class="review">
            <thead>
              <tr>
                <th>Review</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in todos" v-if="item.status=='3'">
                <td @click="openModalDetails(item)">{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </td>

        <td>
          <table class="done">
            <thead>
              <tr>
                <th>Done</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in todos" v-if="item.status=='4'">
                <td @click="openModalDetails(item)" >{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  
    <!-- 新規登録フォーム -->
    <div id="overlay" v-show="showContent">
        <div id="content">
          <h2>ストーリーを追加</h2>
          <p>ストーリー名</p>
          <input type="text" v-model="addStoryName">
          <p>内容</p>
          <textarea name="contents" v-model="addStoryContents" rows="4" cols="40" placeholder="内容を入力してください。" onfocus="this.placeholder = ''"></textarea>
          <p><button v-on:click="closeModal">キャンセル</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button v-on:click="addItem">保存</button></p>
        </div>
    </div>  
    <div id="overlay" v-show="showDetails">
      <div id="content">
        <h2>詳細</h2>
        <p>ストーリー名</p>
        <textarea name="name" v-model="storyName" rows="1" cols="20"></textarea>
        <p>作業項目</p>
        <select v-model="selected">
          <option disabled value="">作業項目を選んでください</option>
          <option v-for="option in options" v-bind:value="option.id">
            {{ option.name }}
          </option>
        </select>
        <p>内容</p>
        <textarea name="contents" v-model="storyContents" rows="4" cols="40"></textarea>
        <p><button v-on:click="closeModalDetails">キャンセル</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button v-on:click="changeItem">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <button v-on:click="removeItem">削除</button>
        </p>
      </div>
  </div>  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>