  #app {
    max-width: 640px;
    margin: 0 auto;
  }
  .kanban {
    table-layout: fixed;
    width: 800px;
    border: 1px solid;
    text-align: center;
  }
  .kanban td {
    border: 1px solid;
    vertical-align: top;
  }
  .todo, .doing, .review, .done {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }